.ipynb_checkpoints/
BAD FILE --- Election Homework in Python.ipynb
Election Final list.ipynb
Election Homework in Python - Mixed with comments.ipynb
dict with percentage.ipynb
election-candidate-list-debug-printing.ipynb
election-candidate-list-final.ipynb
election-dictionary-final.ipynb
election_data.csv
